.appBody {
  width: auto;
  height: auto;
  border: 1px solid lightgrey;
  margin: 3px 0;
  padding: 20px 10px;
  background-color: white;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 5px;
}
.filters .filter,
p {
  margin: 5px 10px;
}
.filters .dateFilter input {
  width: 15px;
  height: 15px;
  margin: 4px;
}
.filters button {
  width: 80px;
  height: 30px;
  border: 1px solid #3f51b5;
  background-color: #3f51b5;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.filters button:hover {
  color: white;
}

.shopLists {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.shop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  margin: 5px;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.shopSection {
  margin: 5px;
}

.shopSection:nth-child(2) {
  display: none;
}

.shopSection label {
  font-size: 18px;
  font-weight: bold;
}

.shopSection div {
  margin: 5px 0;
}

.shopSection button {
  height: 40px;
  width: 100px;
  background-color: #3f51b5;
  border: 1px solid #3f51b5;
  margin: 5px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.shopSection a:first-child button {
  display: none;
}

.shopSection a button:hover {
  background-color: #3f51b5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.shopSection a:last-child button {
  background-color: whitesmoke;
  color: #3f51b5;
}

.shopSection button:last-child:hover {
  background-color: #3f51b5;
  color: white;
}

@media screen and (min-width: 700px) {
  .shopSection:nth-child(2) {
    display: block;
  }

  .shopSection a:first-child button {
    display: inline-block;
  }
}
